@import "variables.scss";

@font-face {
  font-family: "open sans";
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: $base-fontSize;
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    font-family: "open sans";
    padding: 0px;
    margin: 0px;
  }
  @media (min-width: 640px) and (max-width: 1023px) {
    body {
      font-size: 0.9rem;
    }
  }

  @media (min-width: 1024px) and (max-width: 1279px) {
    body {
      font-size: 0.95rem;
    }
  }

  @media (min-width: 1280px) {
    body {
      font-size: 1.33rem;
    }
  }

  @media (min-width: 1440px) {
    body {
      font-size: 1.55rem;
    }
  }
  @media (min-width: 1600px) {
    body {
      font-size: 1.8rem;
    }
  }
  @media (min-width: 1900px) {
    body {
      font-size: 2rem;
    }
  }
  body {
    font-family: $font-family;
    line-height: 2;
    background: $bg-color;
    .ReactModal__Overlay,
    .ReactModal__Overlay--after-open {
      z-index: 99999999;
    }
  }
}
