$primary-color: #f15b40;
$secondary-color: rgba(179, 179, 179, 1);
$text-secondary-color: rgba(88, 84, 83, 1);
$bg-color: rgba(255, 255, 255, 1);
$bg-color-card: rgba(255, 255, 255, 1);
$bg-color-checkbox: rgba(33, 150, 243, 1);
$box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
$border-radius: 0.5rem;
$base-fontSize: 10px;
$font-family: "open sans";
$padding-main: 3rem;
$padding-elements: 2rem;
$padding-elements-large: 3rem;
$button-width: 100%;
$button-primary-bg-color: #f15b40;
$button-primary-fg-color: white;
$button-primary-br: 0.75px solid #f15b40;
$button-primary-br-radius: 0.2rem;
$button-primary-width: 100%;
$button-primary-height: 100%;
$button-primary-padding: 2rem;
